<configuration>
    <configSections>
        <section name="FacebookGraphToolkitConfiguration" type="Facebook_Graph_Toolkit.FacebookGraphToolkitConfiguration"/>
    </configSections>
    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>
    <FacebookGraphToolkitConfiguration FacebookAppID="xxxxxxxxxxxxx" FacebookAppSecret="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" FacebookAppAddress="http://apps.facebook.com/xxxxxxxxxxxxx/" PostAuthorizeRedirectURL="Default.aspx" WebTimeOut="8000">
        <CachePolicy Time="900" SlidingExpiration="false"/>
    </FacebookGraphToolkitConfiguration>
</configuration>